<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h1 th:text="#{page.title}">_offline page title_</h1>
<form action="heart-rate-zones" method="POST">
    <label th:text="#{max_hr_label}">_offline max hr_</label>
    <input type="number" min="0" max="300" value="180" name="max_hr" >
    <input type="submit" value="start">
</form>
</body>
</html>