<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h1 th:text="${specie.getSpecies()}">_species_</h1>
<p th:text="#{${specie.getSpecies()}}">living place</p>
<img th:src="#{img.+${specie.getSpecies()}">
</body>
</html>