<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h1 th:text="#{page.title}">_offline title_</h1>
<table>
    <thead>
    <tr>
        <th th:text="#{scientific.name}">_offline scientific_</th>
        <th th:text="#{english.name}">_offline english_</th>
        <th th:text="#{dutch.name}">_offline dutch_</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lemur:${lemurs}">
        <td><a th:href="@{'/species.detail?species=' + ${lemur.getSpecies()}}"
               th:text="${lemur.getSpecies()}">_scientific_</a></td>
        <td th:text="${lemur.getEnglishName()}">_english_</td>
        <td th:text="${lemur.getDutchName()}">_dutch_</td>
    </tr>
    </tbody>
</table>
</body>
</html>
